<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<body data-topbar="dark">
<div class="main-content" layout:fragment="content">

    <div class="page-content" ng-app="donhang-app" ng-controller="donhang-ctrl">
        <div class="container-fluid">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Đơn Hàng</h4>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#donhang1" role="tab">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Chưa xác nhân</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#donhang2" role="tab">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block">Đã xác nhận</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content p-3 text-muted">
                            <!-- Chưa xác nhận -->
                            <div class="tab-pane active" id="donhang1" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                                                            <div>
                                                                <a href="#" class="btn btn-light"><i class="bx bx-plus me-1"></i>Thêm mới</a>
                                                            </div>
                                                            <div class="dropdown">
                                                                <a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end row -->

                                                <div class="table-responsive mb-4">
                                                    <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col" style="width: 50px;">
                                                                <div class="form-check font-size-16">
                                                                    <input type="checkbox" class="form-check-input" id="checkAll">
                                                                    <label class="form-check-label" for="checkAll"></label>
                                                                </div>
                                                            </th>
                                                            <th scope="col">Mã</th>
                                                            <th scope="col">Tên người nhận</th>
                                                            <th scope="col">Số điện thoại</th>
                                                            <th scope="col">Ngày đặt</th>
                                                            <th style="width: 80px; min-width: 80px;"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="d in chuaXacNhan">
                                                            <th scope="row">
                                                                <div class="form-check font-size-16">
                                                                    <input type="checkbox" class="form-check-input" id="contacusercheck11">
                                                                    <label class="form-check-label" for="contacusercheck11"></label>
                                                                </div>
                                                            </th>
                                                            <td style="cursor: pointer" ng-click="detailDonHangChuaXacNhan(d.ma)">{{d.ma}}</td>
                                                            <td style="cursor: pointer" ng-click="detailDonHangChuaXacNhan(d.ma)">{{d.tenNguoiNhan}}</td>
                                                            <td style="cursor: pointer" ng-click="detailDonHangChuaXacNhan(d.ma)">{{d.soDienThoai}}</td>
                                                            <td style="cursor: pointer" ng-click="detailDonHangChuaXacNhan(d.ma)">{{d.ngayDatHang | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                            <td style="width: 200px">
                                                                <button class="btn btn-danger me-1">Hủy</button>
                                                                <button class="btn btn-primary">Xác nhận</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end table -->
                                                </div>
                                                <!-- end table responsive -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--                            Đã xác nhận -->
                            <div class="tab-pane" id="donhang2" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                                                            <div>
                                                                <a href="#" class="btn btn-light"><i class="bx bx-plus me-1"></i>Thêm mới</a>
                                                            </div>
                                                            <div class="dropdown">
                                                                <a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end row -->

                                                <div class="table-responsive mb-4">
                                                    <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col" style="width: 50px;">
                                                                <div class="form-check font-size-16">
                                                                    <input type="checkbox" class="form-check-input" id="">
                                                                    <label class="form-check-label" for="checkAll"></label>
                                                                </div>
                                                            </th>
                                                            <th scope="col">Mã</th>
                                                            <th scope="col">Tên người nhận</th>
                                                            <th scope="col">Số điện thoại</th>
                                                            <th scope="col">Ngày đặt</th>
                                                            <th ></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="d in daXacNhan">
                                                            <th scope="row">
                                                                <div class="form-check font-size-16">
                                                                    <input type="checkbox" class="form-check-input" id="contacusercheck11">
                                                                    <label class="form-check-label" for="contacusercheck11"></label>
                                                                </div>
                                                            </th>
                                                            <td>{{d.ma}}</td>
                                                            <td>{{d.tenNguoiNhan}}</td>
                                                            <td>{{d.soDienThoai}}</td>
                                                            <td>{{d.ngayDatHang | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                                            <td style="width: 200px">
                                                                <button class="btn btn-danger me-1">Hủy</button>
                                                                <button class="btn btn-primary">Xác nhận</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end table -->
                                                </div>
                                                <!-- end table responsive -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div> <!-- container-fluid -->

        <!-- Modal Chưa xác nhận-->
        <div class="modal fade bd-example-modal-lg" id="chuaXacNhanDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thông tin đơn hàng</h5>
                        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close" ng-click="closeModal('#chuaXacNhanDetail')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label >Mã đơn hàng</label>
                                    <span  class="form-control">{{donHangChuaXacNhan.ma}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label >Ngày đặt hàng</label>
                                    <span  class="form-control">{{donHangChuaXacNhan.ngayDatHang | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label >Số điện thoại</label>
                                    <input class="form-control" ng-model="donHangChuaXacNhan.soDienThoai">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label >email</label>
                                    <input class="form-control" ng-model="donHangChuaXacNhan.email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label >Thành phố</label>
                                    <input class="form-control" ng-model="donHangChuaXacNhan.thanhPhoName">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label >Quận huyện</label>
                                    <input class="form-control" ng-model="donHangChuaXacNhan.quanHuyenName">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label >Xã phường</label>
                                    <input class="form-control" ng-model="donHangChuaXacNhan.xaPhuongName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label>Địa chỉ chi tiết</label>
                                <textarea class="form-control"rows="2" ng-model="donHangChuaXacNhan.diaChiChiTiet"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label>Ghi chú</label>
                                <textarea class="form-control"rows="2" ng-model="donHangChuaXacNhan.ghiChu"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal('#chuaXacNhanDetail')">Đóng</button>
                        <button type="button" class="btn btn-primary">Cập nhật</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script>
                    © Dason.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- end main content-->
</body>
</html>