<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">

<head>
    <meta charset="utf-8"/>
    <title>Dashboard | Dason - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesbrand" name="author"/>
</head>

<body data-topbar="dark">

<!-- <body data-layout="horizontal"> -->

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" layout:fragment="content">
    <div>
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h5 class="mb-sm-0">Danh sách voucher</h5>

                            <div class="page-title-right">
                                <ul class="breadcrumb m-0">
                                    <a type="button" class="btn btn-primary" href="/admin/voucher/them-voucher">
                                        Tạo Voucher
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Danh sách voucher</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#home1"
                                           role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <span class="d-none d-sm-block">Đã kích hoạt</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#profile1"
                                           role="tab">
                                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                            <span class="d-none d-sm-block">Chưa kích hoạt</span>
                                        </a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content p-3 text-muted">
                                    <div class="tab-pane active" id="home1" role="tabpanel">
                                        <div class="card-body">
                                            <!--lọc and tìm kiếm-->
                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-light dropdown-toggle"
                                                                data-bs-toggle="dropdown"
                                                                style="width: 200px; border: solid 1px;border-radius: 0;">
                                                            Điều kiện lọc
                                                        </button>
                                                        <div class="dropdown-menu" style="width: 500px">
                                                            <form class="row g-3 needs-validation" novalidate>
                                                                <div class="col-md-6">
                                                                    <label class="form-label">Mức giảm từ</label>
                                                                    <input type="number" class="form-control">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-label">Đến</label>
                                                                    <input type="number" class="form-control">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-label">Từ ngày</label>
                                                                    <input type="datetime-local" class="form-control">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-label">Đến ngày</label>
                                                                    <input type="datetime-local" class="form-control">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-label">Hình thức thanh
                                                                        toán</label>
                                                                    <select class="form-select" id="validationCustom04"
                                                                            required>
                                                                        <option>Thanh toán online</option>
                                                                        <option>Thanh toán khi nhận hàng</option>
                                                                        <option>Tất cả</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="form-label">Đối tượng sử dụng</label>
                                                                    <select class="form-select">
                                                                        <option>Tùy chọn khách hàng</option>
                                                                        <option>Tất cả khách hàng</option>
                                                                        <option>Tất cả</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-12">
                                                                    <button class="btn btn-primary" type="submit">Submit
                                                                        form
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <form th:action="@{/admin/voucher}" class="d-flex">
                                                    <input class="form-control me-2" name="name" type="text"
                                                           placeholder="Search">
                                                    <button class="btn btn-primary" type="submit">Search
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!--Danh sách-->
                                        <table class="table table-striped" id="dataTable"
                                               width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>
                                                </th>
                                                <th>Voucher</th>
                                                <th>Hạn sử dụng</th>
                                                <th>Hình thức thanh toán</th>
                                                <th>Khách hàng</th>
                                                <th>Đã sử dụng</th>
                                                <th>Trạng Thái</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="vc: ${listVoucher0}">
                                                <td><input type="checkbox"
                                                           ng-model="voucher.selected"
                                                           ng-change="sumVoucherSelected(voucher)">
                                                </td>
                                                <td>
                                                    <p th:text="${vc.ma}"></p>
                                                    <p th:text="'Giảm ' + ${vc.mucGiam} + ' ' + ${vc.loaiMucGiam == 'PHAN TRAM'? '%':'vnd'}"></p>
                                                </td>
                                                <td>
                                                    <p th:text="${vc.ngayBatDau} + ' đến'"></p>
                                                    <p th:text="${vc.ngayKetThuc}"></p>
                                                </td>
                                                <td th:text="${vc.hinhThucThanhToan}"></td>
                                                <td th:text="${vc.doiTuongSuDung}"></td>
                                                <td th:text="${vc.soLuongSuDung}"></td>
                                                <td>
                                                                        <span style="color: green; border: solid 1px green"
                                                                              th:if="${vc.trangThai == 0}">
                                                                            Đã kích hoạt
                                                                        </span>
                                                    <span style="color: red; border:solid 1px red; height: 10px"
                                                          th:if="${vc.trangThai == 1}">Chưa kích hoạt</span>
                                                    <span style="color: red; border:solid 1px red; height: 10px"
                                                          th:if="${vc.trangThai == 2}">Hết hạn</span>
                                                </td>
                                                <td>
                                                    <a th:href="@{/admin/voucher/chi-tiet-voucher/{id}(id=${vc.ma})}"
                                                       ng-click="findByID()"
                                                       class="edit">
                                                        <i class="material-icons" title="Edit">&#xE254;</i>
                                                    </a>
                                                    <a href="#"
                                                       th:attr="ng-click='xoaVoucher(\''+${vc.ma}+'\');'"
                                                       class="delete">
                                                        <i class="material-icons" title="Delete">&#xE872;</i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-6">

                                            </div>
                                            <div class="col-6">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-end">
                                                        <li class="page-item">
                                                            <a class="page-link" href="#"
                                                               aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                                <span class="sr-only">Previous</span>
                                                            </a>
                                                        </li>
                                                        <li th:each="pageNumber: ${#numbers.sequence(1, totalPage0)}"
                                                            class="page-item">
                                                            <a class="page-link"
                                                               th:text="${pageNumber}"
                                                               th:if="${name != null and name != ''}"
                                                               th:href="@{'/admin/voucher?name=' + ${name} +'&pageNumber='+${pageNumber}}"></a>
                                                            <a class="page-link"
                                                               th:text="${pageNumber}"
                                                               th:unless="${name != null and name != ''}"
                                                               th:href="@{'/admin/voucher?pageNumber='+${pageNumber}}"></a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#"
                                                               aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                                <span class="sr-only">Next</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  Tạm dừng-->
                                    <div class="tab-pane" id="profile1" role="tabpanel">
                                        <div class="card-body">
                                            <table class="table table-striped"
                                                   width="100%" cellspacing="0">
                                                <thead>
                                                <tr>
                                                    <th>
                                                    </th>
                                                    <th>Voucher</th>
                                                    <th>Hạn sử dụng</th>
                                                    <th>Hình thức thanh toán</th>
                                                    <th>Khách hàng</th>
                                                    <th>Đã sử dụng</th>
                                                    <th>Trạng Thái</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="vc: ${listVoucher1}">
                                                    <td><input type="checkbox"
                                                               ng-model="voucher.selected"
                                                               ng-change="sumVoucherSelected(voucher)">
                                                    </td>
                                                    <td>
                                                        <p th:text="${vc.ma}"></p>
                                                        <p th:text="'Giảm ' + ${vc.mucGiam} + ' ' + ${vc.loaiMucGiam == 'PHAN TRAM'? '%':'vnd'}"></p>
                                                    </td>
                                                    <td>
                                                        <p th:text="${vc.ngayBatDau} + ' đến'"></p>
                                                        <p th:text="${vc.ngayKetThuc}"></p>
                                                    </td>
                                                    <td th:text="${vc.hinhThucThanhToan}"></td>
                                                    <td th:text="${vc.doiTuongSuDung}"></td>
                                                    <td th:text="${vc.soLuongSuDung}"></td>
                                                    <td>
                                                                        <span style="color: green; border: solid 1px green"
                                                                              th:if="${vc.trangThai == 0}">
                                                                            Đã kích hoạt
                                                                        </span>
                                                        <span style="color: red; border:solid 1px red; height: 10px"
                                                              th:if="${vc.trangThai == 1}">Chưa kích hoạt</span>
                                                        <span style="color: red; border:solid 1px red; height: 10px"
                                                              th:if="${vc.trangThai == 2}">Hết hạn</span>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/admin/voucher/chi-tiet-voucher/{id}(id=${vc.ma})}"
                                                           class="edit">
                                                            <i class="material-icons" title="Edit">&#xE254;</i>
                                                        </a>
                                                        <a href="#"
                                                           th:attr="ng-click='xoaVoucher(\''+${vc.ma}+'\');'"
                                                           class="delete">
                                                            <i class="material-icons" title="Delete">&#xE872;</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-6">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-end">
                                                            <li class="page-item">
                                                                <a class="page-link" href="#"
                                                                   aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                    <span class="sr-only">Previous</span>
                                                                </a>
                                                            </li>
                                                            <li th:each="pageNumber: ${#numbers.sequence(1, totalPage1)}"
                                                                class="page-item">
                                                                <a class="page-link"
                                                                   th:text="${pageNumber}"
                                                                   th:if="${name != null and name != ''}"
                                                                   th:href="@{'/admin/voucher?name=' + ${name} +'&pageNumber='+${pageNumber}}"></a>
                                                                <a class="page-link"
                                                                   th:text="${pageNumber}"
                                                                   th:unless="${name != null and name != ''}"
                                                                   th:href="@{'/admin/voucher?pageNumber='+${pageNumber}}"></a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="#"
                                                                   aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                    <span class="sr-only">Next</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>

<!-- container-fluid -->
</div>
<!-- End Page-content -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script>
                © Dason.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</body>
<script></script>
</html>