<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/home}">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body ng-app="cart-app" ng-controller="cart-ctrl">
<div class="main-content" layout:fragment="content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Cart</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Cart</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-middle mb-0 table-nowrap">
                                    <thead class="table-light">
                                    <tr>
                                        <th></th>
                                        <th>Sản phẩm</th>
                                        <th>Chi tiết</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th colspan="2">Thành tiền</th>
<!--&gt;>>>>>> 9a332dced22d1382512f27aba68988332597f7f0-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr ng-repeat="c in cart">-->
<!--                                        <td>-->
<!--                                            <img src="/image/loadImage/product/{{c.anh}}" alt="product-img"-->
<!--                                                 title="product-img" class="avatar-md"/>-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <h5 class="font-size-14 text-truncate"><a-->
<!--                                                    href="/chi-tiet-san-pham/{{c.maSanPham}}"-->
<!--                                                    class="text-dark">{{c.tenSanPham}}</a></h5>-->
<!--                                            <p class="mb-0">Size : <span class="fw-medium">{{c.size}}</span>-->
<!--                                            </p>-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            {{c.donGia}}-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <div class="me-3" style="width: 120px;">-->
<!--<<<<<<< HEAD-->
<!--                                                <input type="text" value="{{c.soLuong}}" name="demo_vertical"/>-->
<!--=======-->
<!--&lt;!&ndash;                                                                                                <input type="text" value="{{c.soLuong}}" name="demo_vertical"/>&ndash;&gt;-->
<!--&gt;>>>>>> 69a588d93240e0c82e2f169c958f1fe9f15135e8-->
<!--                                                <input id="{{c.id}}" dis-->
<!--                                                       onchange="angular.element(this).scope().getUpdateSL(this.id,this.value)"-->
<!--                                                       class="form-control input-number text-center"-->
<!--                                                       value="{{c.soLuong}}">-->
<!--&gt;>>>>>> 9a332dced22d1382512f27aba68988332597f7f0-->
<!--                                            </div>-->
                                        </td>
                                        <td>
                                            {{c.donGia * c.soLuong}}
                                        </td>
                                        <td>
                                            <a href="" ng-click="removeProductIncart(c.id)" class="action-icon text-danger">
                                                <i class="mdi mdi-trash-can font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6">
                                    <a href="/san-pham" class="btn btn-secondary">
                                        <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                                </div> <!-- end col -->
                                <div class="col-sm-6">
                                    <div class="text-sm-end mt-2 mt-sm-0">
                                        <a href="ecommerce-checkout.html" class="btn btn-success">
                                            <i class="mdi mdi-cart-arrow-right me-1"></i> Checkout </a>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Card Details</h5>

                            <div class="card bg-primary text-white visa-card mb-0">
                                <div class="card-body">
                                    <div>
                                        <i class="bx bxl-visa visa-pattern"></i>

                                        <div class="float-end">
                                            <i class="bx bxl-visa visa-logo display-3"></i>
                                        </div>

                                        <div>
                                            <i class="bx bx-chip h1 text-warning"></i>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col-3">
                                            <p class="mb-2">
                                                <i class="fas fa-star-of-life m-1"></i>
                                                <i class="fas fa-star-of-life m-1"></i>
                                                <i class="fas fa-star-of-life m-1"></i>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p class="mb-2">
                                                <i class="fas fa-star-of-life m-1"></i>
                                                <i class="fas fa-star-of-life m-1"></i>
                                                <i class="fas fa-star-of-life m-1"></i>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p class="mb-2">
                                                <i class="fas fa-star-of-life m-1"></i>
                                                <i class="fas fa-star-of-life m-1"></i>
                                                <i class="fas fa-star-of-life m-1"></i>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p class="mb-2">
                                                <i class="fas fa-star-of-life m-1"></i>
                                                <i class="fas fa-star-of-life m-1"></i>
                                                <i class="fas fa-star-of-life m-1"></i>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="mt-5">
                                        <h5 class="text-white float-end mb-0">12/22</h5>
                                        <h5 class="text-white mb-0">Fredrick Taylor</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-3">Order Summary</h4>

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                    <tr>
                                        <td>Grand Total :</td>
                                        <td>$ 1,857</td>
                                    </tr>
                                    <tr>
                                        <td>Discount :</td>
                                        <td>- $ 157</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping Charge :</td>
                                        <td>$ 25</td>
                                    </tr>
                                    <tr>
                                        <td>Estimated Tax :</td>
                                        <td>$ 19.22</td>
                                    </tr>
                                    <tr>
                                        <th>Total :</th>
                                        <th>$ 1744.22</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <!-- end row -->
        </div> <!-- container-fluid -->
    </div>
</div>
</body>
</html>