<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/trangChu}">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body>
<div class="main-content " layout:fragment="contentUser">
    <div class="page-content" ng-app="checkOut" ng-controller="checkOutCtrl">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Thanh toán</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="checkout-tabs">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="nav nav-pills flex-column flex-sm-row nav-justified" id="v-pills-tab"
                             role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-shipping-tab" data-bs-toggle="pill"
                               href="#v-pills-shipping" role="tab" aria-controls="v-pills-shipping"
                               aria-selected="true">
                                <i class="bx bxs-truck d-block check-nav-icon mt-4 mb-2"></i>
                                <p class="fw-bold mb-4">Thông tin giao hàng</p>
                            </a>
                            <a class="nav-link" id="v-pills-payment-tab" data-bs-toggle="pill"
                               href="#v-pills-payment" role="tab" aria-controls="v-pills-payment"
                               aria-selected="false">
                                <i class="bx bx-money d-block check-nav-icon mt-4 mb-2"></i>
                                <p class="fw-bold mb-4">Hình thức thanh toán</p>
                            </a>
                            <a class="nav-link" id="v-pills-confir-tab" data-bs-toggle="pill"
                               href="#v-pills-confir" role="tab" aria-controls="v-pills-confir"
                               aria-selected="false">
                                <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                                <p class="fw-bold mb-4">Xác nhận</p>
                            </a>
                        </div>
                        <!-- information -->
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-shipping" role="tabpanel"
                                         aria-labelledby="v-pills-shipping-tab">
                                        <div>
                                            <h4 class="card-title">Thông tin thanh toán</h4>
                                            <p class="card-title-desc mb-4">thông tin thanh toán</p>
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="billing-name"
                                                                   class="col-form-label">Người Nhận:</label>
                                                            <input ng-model="tenNguoiNhan" type="text"
                                                                   class="form-control"
                                                                   id="billing-name" placeholder="Enter your name">
                                                        </div>

                                                        <div class="form-group mb-3">
                                                            <label for="billing-phone" class="col-form-label">Số
                                                                Điện Thoại:</label>
                                                            <input ng-model="soDienThoai" type="text"
                                                                   class="form-control"
                                                                   id="billing-phone"
                                                                   placeholder="Enter your Phone no.">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="billing-email" class="col-form-label">Số
                                                                Email:</label>
                                                            <input ng-model="email" type="email" class="form-control"
                                                                   id="billing-email"
                                                                   placeholder="Enter your email no.">
                                                        </div>

                                                        <div class="form-group mb-0">
                                                            <label for="example-textarea"
                                                                   class="col-form-label">Ghi Chú:</label>
                                                            <textarea ng-model="ghiChu" class="form-control"
                                                                      id="example-textarea"
                                                                      rows="3"
                                                                      placeholder="Write some note.."></textarea>
                                                        </div>

                                                    </div>
                                                    <!--địa -->
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label
                                                                    class="col-form-label">Tỉnh/Thành Phố</label>
                                                            <select class="form-control select2"
                                                                    title="Country" id="city" ng-model="thanhPhoCode"
                                                                    onchange="angular.element(this).scope().cityChange(this.value)">
                                                                <option></option>
                                                                <option ng-repeat="c in citys" value="{{c.ProvinceID}}">
                                                                    {{c.ProvinceName}}
                                                                </option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group mb-3">
                                                            <label class="col-form-label">Quận/Huyện</label>
                                                            <select class="form-control select2" id="district"
                                                                    ng-model="quanHuyenCode"
                                                                    onchange="angular.element(this).scope().districtChange(this.value)"
                                                                    title="Country">
                                                                <option ng-repeat="d in districts"
                                                                        value="{{d.DistrictID}}">{{d.DistrictName}}
                                                                </option>

                                                            </select>
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label class="col-form-label">Xã/Phường</label>
                                                            <select class="form-control select2"
                                                                    title="Country" id="ward" ng-model="xaPhuongCode"
                                                                    onchange="angular.element(this).scope().getFeeShipped(getElementById('district').value,this.value)">
                                                                <option ng-repeat="w in wards" value="{{w.WardCode}}">
                                                                    {{w.WardName}}
                                                                </option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group mb-3">
                                                            <label for="billing-address"
                                                                   class="col-form-label">Địa chỉ chi tiết</label>
                                                            <textarea ng-model="diaChiChiTiet" class="form-control"
                                                                      id="billing-address"
                                                                      rows="3"
                                                                      placeholder="Enter full address"></textarea>
                                                        </div>

                                                    </div>
                                                    <!--end dia chi-->
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="v-pills-payment" role="tabpanel"
                                         aria-labelledby="v-pills-payment-tab">
                                        <div>
                                            <h4 class="card-title">Hình thức thanh toán</h4>
                                            <p class="card-title-desc mb-4">Hình thức thanh toán</p>

                                            <div>
                                                <div class="form-check form-check-inline font-size-16">
                                                    <input class="form-check-input" type="radio"
                                                           name="paymentoptionsRadio" id="paymentoptionsRadio1"
                                                           value="0" ng-model="phuongThucThanhToan"
                                                           checked>
                                                    <label class="form-check-label font-size-13"
                                                           for="paymentoptionsRadio1"><i
                                                            class="fab fa-cc-mastercard me-1 font-size-20 align-top"></i>
                                                        Tiền mặt</label>
                                                </div>
                                                <div class="form-check form-check-inline font-size-16">
                                                    <input class="form-check-input" type="radio"
                                                           name="paymentoptionsRadio" id="paymentoptionsRadio2"
                                                           value="1" ng-model="phuongThucThanhToan"
                                                    >
                                                    <label class="form-check-label font-size-13"
                                                           for="paymentoptionsRadio2"><i
                                                            class="fab fa-cc-paypal me-1 font-size-20 align-top"></i>
                                                        Paypal</label>
                                                </div>
                                            </div>

                                            <h5 class="mt-5 mb-3 font-size-15">Thanh toán thẻ</h5>
                                            <div class="p-4 border">
                                                <form>
                                                    <div class="form-group mb-0">
                                                        <label for="cardnumberInput">Số thẻ</label>
                                                        <input type="text" class="form-control"
                                                               id="cardnumberInput"
                                                               placeholder="0000 0000 0000 0000">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group mt-4 mb-0">
                                                                <label for="cardnameInput">Tên thẻ</label>
                                                                <input type="text" class="form-control"
                                                                       id="cardnameInput"
                                                                       placeholder="Name on Card">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group mt-4 mb-0">
                                                                <label for="expirydateInput">Ngày hết hạn</label>
                                                                <input type="text" class="form-control"
                                                                       id="expirydateInput" placeholder="MM/YY">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group mt-4 mb-0">
                                                                <label for="cvvcodeInput">CVV</label>
                                                                <input type="text" class="form-control"
                                                                       id="cvvcodeInput"
                                                                       placeholder="Enter CVV Code">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product -->
                                    <div class="tab-pane fade" id="v-pills-confir" role="tabpanel"
                                         aria-labelledby="v-pills-confir-tab">
                                        <div class="card shadow-none border mb-0">
                                            <div class="card-body">
                                                <h4 class="card-title mb-4">Thông tin đơn hàng</h4>

                                                <div class="table-responsive">
                                                    <table class="table align-middle mb-0 table-nowrap">
                                                        <thead class="table-light">
                                                        <tr>
                                                            <th scope="col">Sản phẩm</th>
                                                            <th scope="col"></th>
                                                            <th scope="col">Giá</th>
                                                            <th scope="col">Số lượng</th>
                                                            <th scope="col">Thành tiền</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="i in cart">
                                                            <th scope="row">
                                                                <img src="/image/loadImage/product/{{i.anh}}"
                                                                     alt="product-img"
                                                                     title="product-img" class="avatar-md"/>
                                                            </th>
                                                            <td>
                                                                <h5 class="font-size-14 text-truncate"><a
                                                                        href="ecommerce-product-detail.html"
                                                                        class="text-dark">{{i.tenSanPham}}_size:{{i.size}}</a>
                                                                </h5>
                                                            </td>
                                                            <td>
                                                                {{i.donGiaSauGiam | currency: "" : 1}}đ
                                                            </td>
                                                            <td>{{i.soLuong}}</td>
                                                            <td>{{i.donGiaSauGiam * i.soLuong | currency: "" : 1}}đ</td>
                                                        </tr>
                                                        <!--                                                        voucher-->
                                                        <tr>
                                                            <td colspan="5">
                                                                <div class="bg-soft-primary p-3 rounded">
                                                                    <h5 class="font-size-14 text-primary mb-0">
                                                                        <i class="fas fa-shipping-fast me-2"></i>
                                                                        Voucher
                                                                        <span class="float-end">
                                                                            <a ng-click="disabledVoucher()" href="#"
                                                                               data-bs-toggle="modal"
                                                                               data-bs-target="#myModal">Chọn Voucher</a>
                                                                        </span>
                                                                    </h5>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">
                                                                <h6 class="m-0 text-end">Tiền Hàng:</h6>
                                                            </td>
                                                            <td>
                                                                {{sumTotal | currency: "" : 1}}đ
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">
                                                                <h6 class="m-0 text-end">Tiền Ship:</h6>
                                                            </td>
                                                            <td>
                                                                {{feeShipped | currency: "" : 1}}đ
                                                            </td>
                                                        </tr>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">
                                                                <h6 class="m-0 text-end">Giảm Voucher:</h6>
                                                            </td>
                                                            <td>
                                                                {{giaGiam | currency: "" : 1}}đ
                                                            </td>
                                                        </tr>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">
                                                                <h6 class="m-0 text-end">Tổng Thành Toán:
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                {{totalpayment()}}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-6">
                                <a href="ecommerce-cart.html"
                                   class="btn text-muted d-none d-sm-inline-block btn-link">
                                    <i class="mdi mdi-arrow-left me-1"></i>Quay lại</a>
                            </div> <!-- end col -->
                            <div class="col-sm-6">
                                <div class="text-end">
                                    <button type="button" ng-click="create()" class="btn btn-success">
                                        <i class="mdi mdi-truck-fast me-1"></i> Xác nhận mua
                                    </button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
        <!-- modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Chọn Voucher</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row" ng-repeat="v in vouchers">
                            <div class="col-md-12 justify-content-between">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Voucher:{{v.ma}}_{{v.ten}}</h5>
                                        <p class="card-title">Giảm giá {{v.mucGiam}}K Cho đơn hàng trên
                                            {{v.mucGiamToiDa}}K</p>
                                        <p class="card-title">HSD: {{v.ngayKetThuc}}</p>
                                        <input ng-model="voucher" name="voucher" value="{{v.ma}}"
                                               class="form-check-input" type="hidden">
                                    </div>
                                    <button type="button" class="btn btn-danger align-self-end"
                                            ng-click="getDataAPI(v.ma)" data-bs-dismiss="modal">
                                        Chọn voucher
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>