<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/trangChu}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contentUser">
    <div class="page-content" ng-app="donhang-app" ng-controller="donhang-ctrl">
        <div class="container">
            <!-- Tab01 -->
            <div class="tab01">
                <!-- Nav tabs -->
                <nav class="navbar navbar-expand-sm bg-light justify-content-center" style="height: 80px;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" ng-click="donHangUser(2)" href="#choXacNhan">Chờ xác nhận</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="donHangUser(1)" href="#daXacNhan">Đã xác nhận</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="donHangUser(3)" href="#dangGiao">Đang giao</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="donHangUser(4)" href="#hoanThanh">Hoàn thành</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="donHangUser(0)" href="#huy">Hủy</a>
                        </li>
                    </ul>
                </nav>

                <!-- Tab panes -->
                <div class="tab-content" style="background-color:#f9f9fa;">
                    <div class="row">
                        <div class="input-group m-l-30 m-r-30 m-t-20 m-b-20">
                            <input type="search" class="form-control m-r-10 rounded" placeholder="Search"
                                   aria-label="Search" aria-describedby="search-addon"/>
                            <span class="input-group-text border-0 m-r-60" id="search-addon">
						  <i class="fas fa-search"></i>
						</span>
                        </div>
                    </div>
                    <!-- Chờ xác nhận -->
                    <div class="tab-pane m-b-15" id="choXacNhan" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                            <div class="row"
                                 style="height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img style="height: 100px; width: 100px"
                                     src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png" alt="">
                                <h4>Chưa có đơn hàng</h4>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                             ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                            <div class="row m-t-10 m-r-10 m-l-10">
                                <div class="col-6 m-t-10">
                                    <h5>{{d.ma}}</h5>
                                </div>
                                <div class="col-6 m-t-3">
                                    <h5 class="flex-r m-t-10" style="color: red;">Chờ xác nhận</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">
                                <div class="col-1">
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"
                                         alt="chờ xác nhận">
                                </div>
                                <div class="col-7">
                                    <div class="text" style="margin-left: 10px;">
                                        <h8>{{ct.sanPham}}</h8>
                                        <p>size: {{ct.size}}</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h9>Số lượng: {{ct.soLuong}}</h9>
                                </div>
                                <div class="col-2">
                                    <h9>{{ct.donGia | currency: "" : 1}}đ</h9>
                                </div>
                            </div>
                            <hr>
                            <div class="row flex-r mr-3">
                                <h4 class="flex-r mr-3">Thành tiền: 1.000.000d</h4>
                            </div>
                            <div class="row flex-r mr-3 m-t-10 m-b-15">
                                <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                    <button ng-click="findByMaDonHangUser(d.ma)" type="button"
                                            class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#huyModal">
                                        Hủy
                                    </button>
                                    <a href="/chi-tiet-don-hang/{{d.ma}}" type="button" class="btn btn-secondary ml-2 m-b-10"
                                       ng-click="findByMaDonHangUser(d.ma)">Xem chi tiết đơn hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </div>
                    <!-- Đã xác nhận -->
                    <div class="tab-pane" id="daXacNhan" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                            <div class="row"
                                 style="height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img style="height: 100px; width: 100px"
                                     src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png" alt="">
                                <h4>Chưa có đơn hàng</h4>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                             ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                            <div class="row m-t-10 m-r-10 m-l-10">
                                <div class="col-6 m-t-10">
                                    <h5>{{d.ma}}</h5>
                                </div>
                                <div class="col-6 m-t-3">
                                    <h5 class="flex-r m-t-10" style="color: red;">Đã xác nhận</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">
                                <div class="col-1">
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"
                                         alt="chờ xác nhận">
                                </div>
                                <div class="col-7">
                                    <div class="text" style="margin-left: 10px;">
                                        <h8>{{ct.sanPham}}</h8>
                                        <p>size: {{ct.size}}</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h9>Số lượng: {{ct.soLuong}}</h9>
                                </div>
                                <div class="col-2">
                                    <h9>{{ct.donGia | currency: "" : 1}}đ</h9>
                                </div>
                            </div>
                            <hr>
                            <div class="row flex-r mr-3">
                                <h4 class="flex-r mr-3">Thành tiền: 1.000.000d</h4>
                            </div>
                            <div class="row flex-r mr-3 m-t-10 m-b-15">
                                <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                    <button type="button" class="btn btn-secondary ml-2 m-b-10">Xem chi tiết đơn hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </div>
                    <!-- Đang giao -->
                    <div class="tab-pane" id="dangGiao" role="tabpanel">

                        <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                            <div class="row"
                                 style="height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img style="height: 100px; width: 100px"
                                     src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png" alt="">
                                <h4>Chưa có đơn hàng</h4>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                             ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                            <div class="row m-t-10 m-r-10 m-l-10">
                                <div class="col-6 m-t-10">
                                    <h5>{{d.ma}}</h5>
                                </div>
                                <div class="col-6 m-t-3">
                                    <h5 class="flex-r m-t-10" style="color: red;">Đang giao</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">
                                <div class="col-1">
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"
                                         alt="chờ xác nhận">
                                </div>
                                <div class="col-7">
                                    <div class="text" style="margin-left: 10px;">
                                        <h8>{{ct.sanPham}}</h8>
                                        <p>size: {{ct.size}}</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h9>Số lượng: {{ct.soLuong}}</h9>
                                </div>
                                <div class="col-2">
                                    <h9>{{ct.donGia | currency: "" : 1}}đ</h9>
                                </div>
                            </div>
                            <hr>
                            <div class="row flex-r mr-3">
                                <h4 class="flex-r mr-3">Thành tiền: 1.000.000d</h4>
                            </div>
                            <div class="row flex-r mr-3 m-t-10 m-b-15">
                                <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                    <button type="button" class="btn btn-secondary ml-2 m-b-10">Xem chi tiết đơn hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </div>
                    <!-- Hoàn thành -->
                    <div class="tab-pane" id="hoanThanh" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                            <div class="row"
                                 style="height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img style="height: 100px; width: 100px"
                                     src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png" alt="">
                                <h4>Chưa có đơn hàng</h4>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                             ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                            <div class="row m-t-10 m-r-10 m-l-10">
                                <div class="col-6 m-t-10">
                                    <h5>{{d.ma}}</h5>
                                </div>
                                <div class="col-6 m-t-3">
                                    <h5 class="flex-r m-t-10" style="color: red;">Hoàn thành</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">
                                <div class="col-1">
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"
                                         alt="chờ xác nhận">
                                </div>
                                <div class="col-7">
                                    <div class="text" style="margin-left: 10px;">
                                        <h8>{{ct.sanPham}}</h8>
                                        <p>size: {{ct.size}}</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h9>Số lượng: {{ct.soLuong}}</h9>
                                </div>
                                <div class="col-2">
                                    <h9>{{ct.donGia | currency: "" : 1}}đ</h9>
                                </div>
                            </div>
                            <hr>
                            <div class="row flex-r mr-3">
                                <h4 class="flex-r mr-3">Thành tiền: 1.000.000d</h4>
                            </div>
                            <div class="row flex-r mr-3 m-t-10 m-b-15">
                                <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                    <button type="button" class="btn btn-secondary ml-2 m-b-10">Xem chi tiết đơn hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </div>
                    <!-- Hủy -->
                    <div class="tab-pane" id="huy" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                            <div class="row"
                                 style="height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img style="height: 100px; width: 100px"
                                     src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png" alt="">
                                <h4>Chưa có đơn hàng</h4>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                             ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                            <div class="row m-t-10 m-r-10 m-l-10">
                                <div class="col-6 m-t-10">
                                    <h5>{{d.ma}}</h5>
                                </div>
                                <div class="col-6 m-t-3">
                                    <h5 class="flex-r m-t-10" style="color: red;">Hủy</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">
                                <div class="col-1">
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"
                                         alt="chờ xác nhận">
                                </div>
                                <div class="col-7">
                                    <div class="text" style="margin-left: 10px;">
                                        <h8>{{ct.sanPham}}</h8>
                                        <p>size: {{ct.size}}</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h9>Số lượng: {{ct.soLuong}}</h9>
                                </div>
                                <div class="col-2">
                                    <h9>{{ct.donGia | currency: "" : 1}}đ</h9>
                                </div>
                            </div>
                            <hr>
                            <div class="row flex-r mr-3">
                                <h4 class="flex-r mr-3">Thành tiền: 1.000.000d</h4>
                            </div>
                            <div class="row flex-r mr-3 m-t-10 m-b-15">
                                <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                    <button type="button" class="btn btn-secondary ml-2 m-b-10">Xem chi tiết đơn hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--        modal huy-->
        <div class="modal" id="huyModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Lý do hủy đơn</label>
                            <textarea class="form-control" ng-model="lyDoHuy" id="exampleFormControlTextarea1"
                                      rows="3"></textarea>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="huyDonUser(maDonHang)"
                                data-bs-dismiss="modal">Xác nhận
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function switchTab(tabId) {
            // Hide all tab content
            var tabContent = document.querySelectorAll(".tab-pane");
            tabContent.forEach(function (tab) {
                tab.classList.remove("show", "active");
            });

            // Show the selected tab content
            var selectedTab = document.getElementById(tabId);
            selectedTab.classList.add("show", "active");
        }

        // Add click event listeners to each tab link
        var tabLinks = document.querySelectorAll(".nav-link");
        tabLinks.forEach(function (link) {
            link.addEventListener("click", function (e) {
                e.preventDefault(); // Prevent the default link behavior
                var tabId = link.getAttribute("href").substring(1);
                switchTab(tabId);
            });
        });
    </script>
</div>
</body>
</html>