<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/trangChu}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contentUser">
    <div class="page-content" ng-app="donhang-app" ng-controller="donhang-ctrl">
        <section class="sec-product-detail bg0 p-t-65 p-b-60">
            <!-- Tab01 -->
            <div class="tab01">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item p-b-10">
                        <a class="nav-link active" ng-click="donHangUser(2)" href="#choXacNhan">Chờ xác nhận</a>
                    </li>
                    <li class="nav-item p-b-10">
                        <a class="nav-link" href="#daXacNhan" ng-click="donHangUser(1)">Đã xác nhận</a>
                    </li>
                    <li class="nav-item p-b-10">
                        <a class="nav-link" href="#dangGiao" ng-click="donHangUser(3)">Đang giao</a>
                    </li>
                    <li class="nav-item p-b-10">
                        <a class="nav-link" href="#hoanThanh" ng-click="donHangUser(4)">Hoàn thành</a>
                    </li>
                    <li class="nav-item p-b-10">
                        <a class="nav-link" href="#huy" ng-click="donHangUser(0)">Hủy</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-t-43">
                    <!-- Chờ xác nhận -->
                    <div class="tab-pane" id="choXacNhan" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox" name=""></th>
                                    <th scope="col">Mã</th>
                                    <th scope="col">Người nhận</th>
                                    <th scope="col">Số điện thoạt</th>
                                    <th scope="col">Ngày đặt</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="d in donHangChuaXacNhanKh">
                                    <th scope="row">
                                        <input type="checkbox" name="">
                                    </th>
                                    <td>{{d.ma}}</td>
                                    <td>{{d.tenNguoiNhan}}</td>
                                    <td>{{d.soDienThoai}}</td>
                                    <td>{{d.ngayDatHang | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Đã xác nhận -->
                    <div class="tab-pane" id="daXacNhan" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Mã</th>
                                    <th scope="col">Người nhận</th>
                                    <th scope="col">Số điện thoạt</th>
                                    <th scope="col">Ngày đặt</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="d in donHangChuaXacNhanKh">
                                    <th scope="row">
                                        <input type="checkbox" name="">
                                    </th>
                                    <td>{{d.ma}}</td>
                                    <td>{{d.tenNguoiNhan}}</td>
                                    <td>{{d.soDienThoai}}</td>
                                    <td>{{d.ngayDatHang | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Đang giao -->
                    <div class="tab-pane" id="dangGiao" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Mã</th>
                                    <th scope="col">Người nhận</th>
                                    <th scope="col">Số điện thoạt</th>
                                    <th scope="col">Ngày đặt</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="d in donHangChuaXacNhanKh">
                                    <th scope="row">
                                        <input type="checkbox" name="">
                                    </th>
                                    <td>{{d.ma}}</td>
                                    <td>{{d.tenNguoiNhan}}</td>
                                    <td>{{d.soDienThoai}}</td>
                                    <td>{{d.ngayDatHang | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Hoàn thành -->
                    <div class="tab-pane" id="hoanThanh" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Mã</th>
                                    <th scope="col">Người nhận</th>
                                    <th scope="col">Số điện thoạt</th>
                                    <th scope="col">Ngày đặt</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="d in donHangChuaXacNhanKh">
                                    <th scope="row">
                                        <input type="checkbox" name="">
                                    </th>
                                    <td>{{d.ma}}</td>
                                    <td>{{d.tenNguoiNhan}}</td>
                                    <td>{{d.soDienThoai}}</td>
                                    <td>{{d.ngayDatHang | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Hủy -->
                    <div class="tab-pane" id="huy" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox" name="" id=""></th>
                                    <th scope="col">Mã</th>
                                    <th scope="col">Người nhận</th>
                                    <th scope="col">Số điện thoạt</th>
                                    <th scope="col">Ngày đặt</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="d in donHangChuaXacNhanKh">
                                    <th scope="row">
                                        <input type="checkbox" name="">
                                    </th>
                                    <td>{{d.ma}}</td>
                                    <td>{{d.tenNguoiNhan}}</td>
                                    <td>{{d.soDienThoai}}</td>
                                    <td>{{d.ngayDatHang | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        function switchTab(tabId) {
            // Hide all tab content
            var tabContent = document.querySelectorAll(".tab-pane");
            tabContent.forEach(function (tab) {
                tab.classList.remove("show", "active");
            });

            // Show the selected tab content
            var selectedTab = document.getElementById(tabId);
            selectedTab.classList.add("show", "active");
        }

        // Add click event listeners to each tab link
        var tabLinks = document.querySelectorAll(".nav-link");
        tabLinks.forEach(function (link) {
            link.addEventListener("click", function (e) {
                e.preventDefault(); // Prevent the default link behavior
                var tabId = link.getAttribute("href").substring(1);
                switchTab(tabId);
            });
        });
    </script>
</div>
</body>
</html>