<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/trangChu}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contentUser" class="bg0 m-t-23 p-b-140 container" ng-app="cart-app"
     ng-controller="cart-ctrl">
    <div class="row m-t-10 m-b-2" style="height: 50px; background-color: #717fe0;">
        <div class="col-6 m-t-13">
            <img src="userStyle/images/icons/icon-prev.png" alt="">
        </div>
        <div class="col-6 m-t-13">
            <h5 class="flex-r" style="color: white;">Mã đơn hàng: {{maDonHang}} | Hoàn thành</h5>
        </div>
    </div>
    <div class="container" style="margin-top: 40px;margin-bottom: 20px;">
        <div class="row">
            <div class="col-6" style="border-right: 1px solid #cbcaca;">
                <div class="row">
                    <div class="col-6">
                        <h3 style="margin-bottom: 10px;">Thông tin vận chuyển</h3>
                    </div>
                    <div class="col-6 flex-r">
                        <button type="button" class="btn btn-square" style="background-color: #717fe0; color: white;">
                            Cập nhật thông tin
                        </button>
                    </div>
                </div>
                <form class="row g-3">
                    <div class="col-md-6">
                        <input ng-model="nguoiNhan" class="form-control  rounded-4" placeholder="Người nhận">
                    </div>
                    <div class="col-md-6">
                        <input ng-model="soDT" type="text" placeholder="Số điện thoại" class="form-control  rounded-4"
                               id="inputPassword4">
                    </div>
                    <div class="col-12">
                        <input ng-email="email" type="text" class="form-control  rounded-4" id="inputAddress" placeholder="Mail">
                    </div>
                    <div class="col-12">
                        <input ng-model="diaChiCT" type="text" class="form-control rounded-4" id="inputAddress2"
                               placeholder="Địa chỉ: ví dụ(193 Phú Diễn)">
                    </div>
                    <div class="col-md-4">
                        <select placeholder="Tỉnh/thành phố" class="form-select  rounded-4">
                            <option selected>Tỉnh/thành phố</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select placeholder="Quận/huyện" class="form-select rounded-4">
                            <option selected>Quận/huyện</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select  rounded-4">
                            <option selected>Xã/phường</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control  rounded-4" ng-model="ghiChu"
                               placeholder="Ghi chú: ">
                    </div>
                </form>
            </div>
            <div class="col-6">
                <h3 style="margin-bottom: 10px;">Sản phẩm</h3>
                <table class="table table-striped mt-2">
                    <tbody>
                    <tr ng-repeat="ct in chiTietDon">
                        <th scope="row" >
                            <img style="width: 100px; height: 100px" src="/image/loadImage/product/{{ct.anh}}" alt="">
                        </th>
                        <td colspan="2">{{ct.sanPham}}
                        <p>Size: {{ct.size}}</p>
                        <p>Số lượng: {{ct.soLuong}}</p>
                        </td>
                        <td>{{ct.donGia | currency: "" : 1}}đ</td>
                    </tr>
                    </tbody>
                </table>
                <div class="container">
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6><b>Tiền hàng:</b></h6>
                        </div>
                        <div class="col-6 flex-r">1000000</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <h6><b>Tiền ship:</b></h6>
                        </div>
                        <div class="col-6 flex-r">{{phiGiaoHang | currency: "" : 1}}đ</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <h6><b>Giảm giá:</b></h6>
                        </div>
                        <div class="col-6 flex-r">{tienGiam | currency: "" : 1}}đ</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6><b>Tổng hóa đơn:</b></h6>
                        </div>
                        <div class="col-6 flex-r">1000000</div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>