<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/home}">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body>
<div class="main-content" layout:fragment="content">

<!-- Begin page -->
<div id="layout-wrapper">
    <div class="main-content">
        <div class="page-content" ng-app="index-app" ng-controller="index-ctrl">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Products</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                    <li class="breadcrumb-item active">Products</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Filter</h4>

                                <div>
                                    <h5 class="font-size-14 mb-3">Clothes</h5>
                                    <ul class="list-unstyled product-list">
                                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> T-shirts</a></li>
                                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Shirts</a></li>
                                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Jeans</a></li>
                                        <li><a href="javascript: void(0);"><i class="mdi mdi-chevron-right me-1"></i> Jackets</a></li>
                                    </ul>
                                </div>
                                <div class="mt-4 pt-3">
                                    <h5 class="font-size-14 mb-3">Price</h5>
                                    <div id="priceslider" class="mb-4"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-9">

                        <div class="row mb-3">
                            <div class="col-xl-4 col-sm-6">
                                <div class="mt-2">
                                    <h5>Clothes</h5>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-sm-6" ng-repeat="p in products">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="pricing-badge" ng-if="p.giaBan>p.giaNiemYet" style="padding: 9px">
                                            <span class="badge text-white bg-primary">- {{p.giaBan - p.giaNiemYet | currency : "" : 1}}đ</span>
                                        </div>
                                        <div class="product-img position-relative">
                                        <img src="/image/loadImage/product/{{p.anh[0]}}" ng-if="p.anh.length>0"
                                                 alt="" class="img-fluid mx-auto d-block" style="width: 374px;height: 374px">
                                            <img src="/image/loadImage/product/default.png" ng-if="p.anh.length==0"
                                                 alt="" class="img-fluid mx-auto d-block" style="width: 374px;height: 374px">
                                        </div>
                                        <div class="d-flex justify-content-between align-items-end mt-4">
                                            <div>
                                                <h5 class="mb-3 text-truncate"><a href="/chi-tiet-san-pham/{{p.ma}}" class="text-dark">{{p.ten}}</a></h5>
                                                <h5 class="my-0">
                                                    <span class="text-muted me-2" ng-if="p.giaBan>p.giaNiemYet"><del>{{p.giaBan | currency : "" : 1}}đ</del></span>
                                                    <b>{{p.giaNiemYet | currency : "" : 1}}đ</b>
                                                </h5>
                                            </div>
                                            <p class="text-muted mb-0">
                                                <i class="mdi mdi-heart-outline text-dark" id="heart{{p.ma}}" style="font-size: 25px;cursor: pointer" ng-click="addDSYT(p.ma)"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="pagination pagination-rounded justify-content-center mt-3 mb-4 pb-1">
                                    <li class="page-item" ng-if="pageNumber>0"
                                        ng-click="getAll(0)">
                                        <span style="cursor: pointer" class="page-link"><i class="mdi mdi-chevron-double-left"></i></span>
                                    </li>
                                    <li class="page-item" ng-if="pageNumber>0"
                                        ng-click="getAll(pageNumber<=0?0:pageNumber-1)">
                                        <span style="cursor: pointer" class="page-link"><i class="mdi mdi-chevron-left"></i></span>
                                    </li>
                                    <li class="page-item" ng-repeat="n in pageNumbers">
                                        <span style="cursor: pointer" ng-click="getAll(n)" class="page-link" ng-if="pageNumber!=n">{{n+1}}</span>
                                        <span style="cursor: pointer" ng-click="getAll(n)" class="page-link active" ng-if="pageNumber==n">{{n+1}}</span>
                                    </li>
                                    <li class="page-item" ng-if="pageNumber<pageNumbers.length-1"
                                        ng-click="getAll(pageNumber==pageNumbers.length-1 ? pageNumbers.length-1 : pageNumber+1)">
                                        <span style="cursor: pointer" class="page-link"><i class="mdi mdi-chevron-right"></i></span>
                                    </li>
                                    <li class="page-item" ng-if="pageNumber<pageNumbers.length-1"
                                        ng-click="getAll(pageNumbers.length-1)">
                                        <span style="cursor: pointer" class="page-link"><i class="mdi mdi-chevron-double-right"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->
</body>
</html>