<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/trangChu}">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm</title>
</head>
<body>

<div layout:fragment="contentUser" class="bg0 m-t-23 p-b-140" ng-app="index-app" ng-controller="index-ctrl">
    <link rel="stylesheet" th:href="@{/user/css/products.css}">
    <!-- Product -->
    <section class="bg0 p-t-23 p-b-10">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">
                    {{title}}
                </h3>
            </div>
            <!--lọc-->
            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">

                </div>

                <div class="flex-w flex-c-m m-tb-10">
                    <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                        <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Filter
                    </div>

                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Search
                    </div>
                </div>

                <!-- Search product -->
                <div class="dis-none panel-search w-full p-t-10 p-b-15">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>

                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
                               onchange="angular.element(this).scope().search(this.value)"
                               placeholder="Search">
                    </div>
                </div>

                <!-- Filter -->
                <div class="dis-none panel-filter w-full p-t-10">
                    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                        <div class="filter-col1 p-r-100 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Xuất xứ
                                <select class="form-control" ng-model="filterData.xuatXu">
                                    <option selected>Tất cả</option>
                                    <option ng-repeat="x in xuatXu" value="{{x.id}}">{{x.ten}}</option>
                                    <option value="khac">Khác</option>
                                </select>
                            </div>
                            <div class="mtext-102 cl2 p-b-15">
                                Màu sắc
                                <select class="form-control" ng-model="filterData.mauSac">
                                    <option selected>Tất cả</option>
                                    <option ng-repeat="m in mauSac" value="{{m.ma}}">{{m.ten}}</option>
                                    <option value="khac">Khác</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-col2 p-r-100 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Dòng sản phẩm
                                <select class="form-control" ng-model="filterData.dongSanPham">
                                    <option selected>Tất cả</option>
                                    <optgroup ng-repeat="t in thuongHieu" label="{{t.ten}}">
                                        <option value="{{t.id}}">tất cả {{t.ten}}</option>
                                        <option ng-repeat="d in t.dongSanPhamResponeseList" value="{{d.id}}">{{d.ten}}
                                        </option>
                                        <option value="khac">Khác</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="mtext-102 cl2 p-b-15">
                                Kiểu dáng
                                <select class="form-control" ng-model="filterData.kieuDang">
                                    <option selected>Tất cả</option>
                                    <option ng-repeat="k in kieuDang" value="{{k.id}}">{{k.ten}}</option>
                                    <option value="khac">Khác</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-col3 p-r-15 p-b-27 col-5" style="">
                            <div class="p-b-15 d-flex justify-content-center">
                                <div class="mtext-102 cl2 p-b-15 col-6">
                                    Chất liệu
                                    <select class="form-control" ng-model="filterData.chatLieu"
                                            >
                                        <option selected>Tất cả</option>
                                        <option ng-repeat="c in chatLieu" value="{{c.id}}">{{c.ten}}</option>
                                        <option value="khac">Khác</option>
                                    </select>
                                </div>
                                <div class="mtext-102 cl2 p-b-15 col-6">
                                    Sắp xếp
                                    <select class="form-control" ng-model="filterData.sort">
                                        <option></option>
                                        <option value="1">Giá bán giảm dần</option>
                                        <option value="2">Giá bán tăng dần</option>
                                        <option value="3">Tên a -> z</option>
                                        <option value="4">Tên z <- a</option>
                                    </select>
                                </div>
                            </div>
                            <div class="p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Khoảng tiền
                                    <div class="price-slider">
                                        <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" style="border-radius: 50px">
                                            <div class="ui-slider-range ui-corner-all ui-widget-header" style="background-color: white"></div>
                                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                        </div>
                                        <span id="min-price" class="slider-price">0 ₫</span>
                                        <span id="max-price" style="float: right" class="slider-price">10.000.000 ₫</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-12 d-flex justify-content-end p-b-15">
                            <button class="btn btn-danger me-2" style="width: 70px" ng-click="clearFilter()">Bỏ lọc</button>
                            <button class="btn btn-primary me-2" style="width: 70px" ng-click="filter(filterData)">Lọc</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--Form sản phẩm-->
                <!--                1 sản phẩm-->
                <!-- Load more -->
                <div class="flex-c-m flex-w w-full  d-flex justify-content-start">
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women" style="padding: 20px" ng-repeat="p in products">
                        <!-- Block2 -->
                        <div class="block2" style="   border-radius: 10px;">
                            <div class="block2-pic hov-img0" style="border-radius: 20px;">
                                <img src="/image/loadImage/product/{{p.anh[0]}}"
                                     style="width: 100%;height: 273px"
                                     ng-if="p.anh.length>0">
                                <img src="/image/loadImage/product/default.png"
                                     style="width: 100%;height: 273px"
                                     ng-if="p.anh.length==0">
                                <a href="#"
                                   class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                    Xem chi tiết
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href="/chi-tiet-san-pham/{{p.ma}}" style="font-weight: bold; font-size: 17px; "
                                       class="cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        {{p.ten}}
                                    </a>

                                    <span class=" cl3">
                                    <span class="cl3" ng-if="p.giaBan>p.giaNiemYet">
									<del>{{p.giaBan | currency: "" : 1}}đ</del>
								    </span>
                                <b style="font-weight: bold;font-size: 15px;">{{p.giaNiemYet | currency: "" : 1}}đ</b>
								</span>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3">
                                       <i ng-if="maSpInDSYT.includes(p.ma) == false" id="{{p.ma}}"
                                          class="far fa-heart" ng-click="addDSYT(p.ma)"></i>
                                        <i ng-if="maSpInDSYT.includes(p.ma) == true" id="{{p.ma}}"
                                           class="fas fa-heart" ng-click="addDSYT(p.ma)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row mt-5">
                <!-- Pagination -->
                <div class="col-12  d-flex justify-content-center ">
                        <span ng-repeat="p in pageNumbers"
                              class="">
                            <span ng-if="p==pageNumber"
                                  class="active-pagination1 flex-c-m how-pagination1 trans-04 m-all-7 "
                            >{{p + 1}}</span>
                            <span ng-if="p!=pageNumber" class="flex-c-m how-pagination1 trans-04 m-all-7 "
                                  style="cursor: pointer"
                                  ng-click="getAll(p)">{{p + 1}}</span>
                        </span>
                </div>
            </div>
        </div>
    </section>

    <!--    /////////Modal đăng nhập-->
    <div class="modal fade" id="dangNhap" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thông Báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Đăng nhập để sử dụng tính năng!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#dangNhap').modal('hide')">Trở về</button>
                    <a href="/dang-nhap" class="btn btn-primary text-white">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!--    modal chi tiếts-->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
    <div class="overlay-modal1 js-hide-modal1"></div>

    <div class="container">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                <img src="/userStyle/images/icons/icon-close.png" alt="CLOSE">
            </button>

            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                            <div class="slick3 gallery-lb">
                                <div class="item-slick3" data-thumb="/userStyle/images/product-detail-01.jpg">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/userStyle/images/product-detail-01.jpg" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                           href="/userStyle/images/product-detail-01.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="item-slick3" data-thumb="/userStyle/images/product-detail-02.jpg">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/userStyle/images/product-detail-02.jpg" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                           href="/userStyle/images/product-detail-02.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="item-slick3" data-thumb="/userStyle/images/product-detail-03.jpg">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/userStyle/images/product-detail-03.jpg" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                           href="/userStyle/images/product-detail-03.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            Lightweight Jacket
                        </h4>

                        <span class="mtext-106 cl2">
								$58.79
							</span>

                        <p class="stext-102 cl3 p-t-23">
                            Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat
                            ornare feugiat.
                        </p>

                        <!--  -->
                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 flex-c-m respon6">
                                    Size
                                </div>

                                <div class="size-204 respon6-next">
                                    <div class="rs1-select2 bor8 bg0">
                                        <select class="js-select2" name="time">
                                            <option>Choose an option</option>
                                            <option>Size S</option>
                                            <option>Size M</option>
                                            <option>Size L</option>
                                            <option>Size XL</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 flex-c-m respon6">
                                    Color
                                </div>

                                <div class="size-204 respon6-next">
                                    <div class="rs1-select2 bor8 bg0">
                                        <select class="js-select2" name="time">
                                            <option>Choose an option</option>
                                            <option>Red</option>
                                            <option>Blue</option>
                                            <option>White</option>
                                            <option>Grey</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number"
                                               name="num-product" value="1">

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>

                                    <button
                                            class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                            <div class="flex-m bor9 p-r-10 m-r-11">
                                <a href="#"
                                   class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                                   data-tooltip="Add to Wishlist">
                                    <i class="zmdi zmdi-favorite"></i>
                                </a>
                            </div>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                               data-tooltip="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                               data-tooltip="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                               data-tooltip="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>